@use "../../assets/styles/variables" as var;
@use "../../assets/styles/mixins" as mixin;

.postContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  border-top: white 1px solid;
  max-height: 6rem;

  .imgContainer {
    width: 9rem;
    height: 7rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    flex: 4;
  }

  .postContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    text-overflow: clip;

    h4 {
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* Limit to 2 lines */
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // ::before {
  //   position:absolute;
  //   width: 100%;
  //   background: var.$highlight-clr;
  //   height: 2px;
  // }

  @include mixin.media-query(var.$breakpoint-md) {
    .imgContainer {
      width: 7rem;
      height: 7rem;
    }

    h3 {
      font-size: 1rem;
    }
  }
}
