@use "../../assets/styles/variables" as var;
@use "../../assets/styles/mixins" as mixin;

.postContainer {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-top: white 1px solid;
  min-height: 6rem;

  .imgContainer {
    width: 8rem;
    height: 100%;
    padding: 0.5rem 0;
    border: var.$primary-clr solid 1px;
    border-radius: 8px;
    margin-top: 0.5rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .contentContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;

    h4 {
      margin: 0;
      // add ellipsis to text when longer than 2 lines
    }

    span {
      color: var.$secondary-clr;
    }

    svg {
      padding-left: 0.5rem;

    }
  }

  // ::before {
  //   position:absolute;
  //   width: 100%;
  //   background: var.$highlight-clr;
  //   height: 2px;
  // }

  @include mixin.media-query(var.$breakpoint-md) {
    .imgContainer {
      width: 5rem;
      height: 3rem;
    }

    h3 {
      font-size: 1rem;
    }
  }
}

