@use "../../assets/styles/variables.scss" as var;

.subredditBanner {
  padding: 2rem 0;

  .subredditIcon {
    aspect-ratio: 1/1;
    width: 6rem;

    img {
      border-radius: 50%;
      object-fit: cover;
      height: 100%;
      border: 3px solid var.$primary-clr;
    }
  }
}

