@use "../../assets/styles/variables.scss" as var;

.subredditBanner {
  padding-bottom: 2rem;

  .subredditIcon {
    width: 8rem;
    height: 8rem;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border: 3px solid var.$primary-clr;
    }
  }
}

