@use "../../assets/styles/variables" as var;

.sidenav {
  background-color: var.$primary-clr;
  padding: 0 1rem;
  border-radius: 5px;
  box-shadow: var.$shadow-sm;
  font-family: var.$secondary-font;
  height: fit-content;
  max-height: 52rem;
  padding-bottom: 1rem;
  width: 16rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.459) white;

  &::-webkit-scrollbar {
    display: none;
  }

  h3 {
    font-family: var.$primary-font;
    color: var.$secondary-clr;
  }

  ul {
    li {
      height: 1.75rem;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      gap: 0.5rem;
      border-radius: 5px;

      &:hover {
        background-color: rgba(var.$secondary-clr, 0.1);
        cursor: pointer;
      }

      &:active {
        background-color: rgba(var.$secondary-clr, 0.3);
      }
    }
  }

  img {
    width: 2rem;
    border-radius: 1rem;
  }
}