@use "../../assets/styles/variables.scss" as var;
@use "../../assets/styles/mixins.scss" as mixin;
@use "../SideNav/SideNav.module.scss" as sidenav;

.communities {
  @extend .sidenav;
  width: 18rem;
  max-height: 30rem;

  @include mixin.media-query(var.$breakpoint-md) {
    width: 15rem;
  }

  .about {
    @extend .sidenav;
    width: 20rem;
    max-height: 40rem;

    span {
      font-family: var.$primary-font;
      font-weight: bold;
      font-size: 1.25rem;
    }

    .online {
      height: 0.5rem;
      width: 0.5rem;
      background-color: greenyellow;
      border-radius: 5px;
    }
  }
}
