@use "../../assets/styles/variables" as var;
@use "../../assets/styles/mixins" as mixin;
@use "../../assets/styles/animations";

.header {
  display: grid;
  height: 4.5rem;
  grid-template-columns: 3fr 6fr 3fr;
  align-items: center;
  gap: 1rem;

  @include mixin.media-query(var.$breakpoint-md) {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  font-size: 2.75rem;
  font-weight: bolder;
  font-family: Poppins, sans-serif;
  background: var.$highlight-clr;
  background-clip: text;
  color: transparent;
  display: inline-block;
  transition: 0.5s ease-in;

  &.fade {
    animation: fade 0.3s;
  }
}

.burgerIcon {
  display: none;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }

  @include mixin.media-query(var.$breakpoint-md) {
    display: block;
  }
}
