@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.navbar {
  display: grid;
  height: 4.5rem;
  grid-template-columns: 3fr 6fr 3fr;
  align-items: center;
  gap: 1rem;

  @include media-query($breakpoint-sm) {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  font-size: 2.75rem;
  font-weight: bolder;
  font-family: Poppins, sans-serif;
  background: $highlight-clr;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.burgerIcon {
  display: none;
  font-size: 1.5rem;

  @include media-query($breakpoint-sm) {
    display: block;
  }
}
