@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.navbar {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  align-items: center;
  gap: 1rem;


  @include media-query($breakpoint-sm) {
    grid-template-columns: 1fr 1fr;
  }
}

.logo {
  font-size: 3rem;
  font-weight: bolder;
  background: $highlight-clr;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

