@use "./assets/styles/variables" as var;
@use "./assets/styles/mixins.scss" as mixin;
@use "./assets/styles/layout.scss";

main {
  @extend .two-col-grid;

  @include mixin.media-query(var.$breakpoint-xl) {
    grid-template-columns: 4fr 1fr;
  }

  @include mixin.media-query(var.$breakpoint-md) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .mainSection {
    height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 2rem;

    section {
      overflow: scroll;
    }
  }
}

