@use "./assets/styles/variables" as var;
@use "./assets/styles/mixins.scss" as mixin;
@use "./assets/styles/layout.scss";

main {
  @extend .three-col-grid;

  @include mixin.media-query(var.$breakpoint-xl) {
    grid-template-columns: 4fr 1fr;
  }

  @include mixin.media-query(var.$breakpoint-md) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
