@use "./assets/styles/variables.scss" as *;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: $background-clr;
  color: $font-clr;
  padding: 0 1rem;
  margin: 0;
}

a {
  color: $font-clr;
  text-decoration: none;

  &:active {
    color: $secondary-clr;
  }
  &:focus {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
