@use "../../../assets/styles/variables" as var;
@use "../../../assets/styles/mixins" as mixin;
@use "../../../assets/styles/animations";

.searchBar {
  height: 2rem;
  max-width: 36rem;
  position: relative;
  justify-content: end;

  @include mixin.media-query(var.$breakpoint-xl) {
    width: 100%;
    gap: 1rem;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-out;

    &.fade {
      animation: fade 0.3s;
    }

    input {
      border-radius: 4rem;
      font-size: 1.15rem;
      height: 100%;
      width: 100%;
      padding: 0 1rem 0 2.5rem;
      background-color: transparent;
      color: var.$font-clr;
      border: 2px solid var.$font-clr;

      &:focus {
        outline: none;
        border-color: var.$secondary-clr;
      }
    }

    .searchIcon {
      position: absolute;
      left: 1rem;
      color: var.$font-clr;
      font-size: 1.5rem;
    }
  }

  .invisible {
    display: none;
  }
}
